body {
    --text-color: #000000;
    --bkg-color: #ffffff; 
}

h1,
b {
  color: var(--text-color);
}

#bold {
    color: var(--text-color);    
}

#main{
    display: inline;
    text-align: center;
}

hr {
    color: var(--text-color);
}

#wrap{
    text-align: center;
}


.body {
    margin: 0px;
    padding: 0px;
  }

.body
  .main-container {
    display: grid;
    place-content: center;
    margin: auto;
    width: 100%;
    max-width: 70%;
    height: 300px;
    background: var(--bkg-color);
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .my-btns a{
      border: 1px solid whitesmoke;
      border-radius: 5px;
      text-decoration: none;
      color: whitesmoke;
      display: grid;
      place-content: center;
      width: 150px;
      background-color: transparent
  }
  .my-btns a:hover{
      background-color:whitesmoke;
      color: rgb(128, 128, 128);
  }
  
  .progBar{
      height: 20px;
      width: 95%;
  }
  
  input{
      border:none;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      border-radius: 3px;
      font-size: 0.9rem;
      outline: none;
  
  }
  
  .workDur{
      width: 140px;
  }
  .breakDur{
      width: 140px;
  }
  .taskDesc{
      width: 590px;
  }
  
  .item{
      height: 90px;
      width: 100%;
      max-width: 70%;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      border-radius: 5px;
      margin: auto;
      border-left: 6px solid #D9534F;
  
  }

/* New code*/

.theme-buttons {
    /*all the grid stuff*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    /*transmation */
    transition:  .3s ease
}

.button-stuff {
    border-radius: 0.25rem;
    font-size: 20px;
    padding: 5px 60px;
    border: none;
    transition:  .3s ease;
    outline: none;
}

.button {
    border: none;
}

 body {
    background: var(--bkg-color);
    padding-bottom: 30px;
    padding-top: 30px;
} 

body.stealth-theme {
    --text-color: #383e42;
    --bkg-color: #010203;
    background-color: #010203; 
    color:#383e42;  
  }

  #stealth {

  }
  
  body.bmo-theme {
    --text-color: #124883;
    --bkg-color: #63bda4;
    background-color: #124883; 
    color:#383e42;  
  }

  #bmo {

  }
  
  body.striker-theme {
    --text-color: #d6dbd9;
    --bkg-color: #124883;
    background-color: #d6dbd9; 
    color:#124883;  
  }

  #striker 
  
  body.red-samurai-theme {
    --text-color: #c79e6e;
    --bkg-color: #84202c; 
  }

  #red-samurai {
    background-color: #c79e6e; 
    color:#84202c; 
  }
/*
.vaporwave {
    background-color: #a4a7ea; 
    color:#e368da;    
    border-radius: 0.25rem;
    font-size: 20px;
    padding: 5px 60px;
    border: none;
    transition:  .3s ease;
    outline: none;
}

.vaporwave:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

.vaporwave-mode {
    background-color: #a4a7ea; 
    color:#e368da;  
}

.methol {
    background-color: #00c18c; 
    color:#ffffff;    border-radius: 0.25rem;
    font-size: 20px;
    padding: 5px 60px;
    border: none;
    transition:  .3s ease
}

.methol:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

.striker {
    background-color: #124883; 
    color:#d6dbd9;    border-radius: 0.25rem;
    font-size: 20px;
    padding: 5px 60px;
    border: none;
    transition:  .3s ease
}

.striker:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

.red-samurai {
    background-color: #84202c; 
    color: #c79e6e;    border-radius: 0.25rem;
    font-size: 20px;
    padding: 5px 60px;
    border: none;
    transition:  .3s ease
}

.red-samurai:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

.sweden {
    background-color: #0058a3;
    color: #ffcc02;   border-radius: 0.25rem;
    font-size: 20px;
    padding: 5px 60px;
    border: none;
    transition:  .3s ease
}

.sweden:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

.bliss {
    background-color: #262727; 
    color: #f0d3c9;    border-radius: 0.25rem;
    font-size: 20px;
    padding: 5px 60px;
    border: none;
    transition:  .3s ease
}

.bliss:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

.pulse {
    background-color: #181818; 
    color: #17b8bd;    border-radius: 0.25rem;
    font-size: 20px;
    padding: 5px 60px;
    border: none;
    transition:  .3s ease
}

.pulse:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

.metropolis {
    background-color: #0f1f2c; 
    color: #e368da;    border-radius: 0.25rem;
    font-size: 20px;
    padding: 5px 60px;
    border: none;
    transition:  .3s ease
}

.metropolis:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

.stealth {
    background-color: #010203; 
    color:#383e42;    border-radius: 0.25rem;
    font-size: 20px;
    padding: 5px 60px;
    border: none;
    transition:  .3s ease
}

.stealth:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

.aether {
    background-color: #101820; 
    color:#eedaea;    border-radius: 0.25rem;
    font-size: 20px;
    padding: 5px 60px;
    border: none;
    transition:  .3s ease
}

.aether:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

.darling {
    background-color: #fec8cd; 
    color: #ffffff;    border-radius: 0.25rem;
    font-size: 20px;
    padding: 5px 60px;
    border: none;
    transition:  .3s ease
}

.darling:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

.cafe {
    background-color: #ceb18d; 
    color:#14120f;    border-radius: 0.25rem;
    font-size: 20px;
    padding: 5px 60px;
    border: none;
    transition:  .3s ease
}

.cafe:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
}
*/

*{
    box-sizing:border-box;
}




