    
    #wrap{
        background-color: lightblue;
        padding: 10px;
        margin-left: 250px;
        margin-right: 250px;
        text-align: center;
        }
    
    
        body{
            background-color: lightcoral;
        }

        #main{
            display: inline;
            text-align: center;
        }
    

        hr {
            color: lightblue;
        }
    

        #agenda{
            text-align: center;
        }
    

        .start{
            height: 50px;
            font-size: large;
        }
    

        #agenda2{
            text-align: center;
        }
    

        .dropbtn{
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }
    

        .dropbtn:hover, .dropbtn:focus{
            background-color: white;
        }
    

        .dropdown{
            position: relative;
            display: inline-block;
        }
    

        .dropdown-content{
            display: none;
            position: absolute;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
    

        .dropdown-content a{
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
    

        .dropdown a:hover{
            background-color: white;
        }
    

        .show{
            display: block;
        }
    
       