<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" href = "/static/style.css">
</head>
<body>

    <div class="theme-buttons">
    <button id="stealth" class="button-stuff">stealth</button>
    <button id="striker" class="button-stuff"> striker </button>
    <button id="red-samurai" class="button-stuff"> red-samurai </button>
    <button id="bmo" class="button-stuff"> BMO </button>

    <!-- <button class="methol" onclick="methol()">BMO</button>
    <button class="striker" onclick="striker()">striker</button>
    <button class="red-samurai" onclick="redsamurai()">red samurai</button>
    <button class="sweden" onclick="myFunction()">sweden</button>
    <button class="bliss" onclick="myFunction()">bliss</button>
    <button class="pulse" onclick="myFunction()">pulse</button>
    <button class="metropolis" onclick="myFunction()">metropolis</button>
    <button class="stealth" onclick="myFunction()">stealth</button>
    <button class="aether" onclick="myFunction()">aether</button>
    <button class="darling" onclick="myFunction()">darling</button>
    <button class="cafe" onclick="myFunction()">cafe</button> -->

    </div>


<script src="/static/script.js"></script>
const stealth = document.querySelector("#stealth");
const striker = document.querySelector("#striker");
const redsamurai =  document.querySelector("#red-samurai");
const bmo =  document.querySelector("#bmo");


//where the code is saved to localstorage

const currentTheme = localStorage.getItem("theme");
if (currentTheme == "stealth") {
  document.body.classList.add("stealth-theme");
}else if (currentTheme == "striker") {
  document.body.classList.add("striker-theme");
}else if (currentTheme == "redsamurai") {
  document.body.classList.add("red-samurai-theme");
}else if (currentTheme == "bmo") {
  document.body.classList.add("bmo-theme"); 
}

stealth.addEventListener("click", function () {
  document.body.classList.toggle("stealth-theme"); //where the css id should go

  let theme = "light";
  if (document.body.classList.contains("stealth-theme")) {
    theme = "stealth";
  }
  localStorage.setItem("theme", theme);
});

//striker

striker.addEventListener("click", function () {
  document.body.classList.toggle("striker-theme");

  let theme = "light";
  if (document.body.classList.contains("striker-theme")) {
    theme = "striker";
  }
  localStorage.setItem("theme", theme);// this is pretty esentail <-- dislexia
});
  

//redsamurai

redsamurai.addEventListener("click", function () {
  document.body.classList.toggle("red-samurai-theme");

  let theme = "light";
  if (document.body.classList.contains("red-samurai-theme")) {
    theme = "redsamurai";
  }
  localStorage.setItem("theme", theme);
}); 

//BMO theme
bmo.addEventListener("click", function () {
  document.body.classList.toggle("bmo-theme");

  let theme = "light";
  if (document.body.classList.contains("bmo-theme")) {
    theme = "bmo";
  }
  localStorage.setItem("theme", theme);
}); 

</body>
</html>