<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" href = "/static/style.css">
</head>
<body>
<div class="button">
    <div class="theme-buttons">
    <button id="vaporwave" class="vaporwave" >stealth</button>
    <!-- <button class="methol" onclick="methol()">BMO</button>
    <button class="striker" onclick="striker()">striker</button>
    <button class="red-samurai" onclick="redsamurai()">red samurai</button>
    <button class="sweden" onclick="myFunction()">sweden</button>
    <button class="bliss" onclick="myFunction()">bliss</button>
    <button class="pulse" onclick="myFunction()">pulse</button>
    <button class="metropolis" onclick="myFunction()">metropolis</button>
    <button class="stealth" onclick="myFunction()">stealth</button>
    <button class="aether" onclick="myFunction()">aether</button>
    <button class="darling" onclick="myFunction()">darling</button>
    <button class="cafe" onclick="myFunction()">cafe</button> -->

    </div>
</div>

<script src="/static/script.js"></script>
</body>
</html>