<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" href = "/static/style.css" type="text/css">
    <script src = "/static/script.js" charset = "UTF-8"></script>


</head>
<body>

    <div id = "main">
        <p><b>Pomodoro and Planning</b> <button>Button</button> </p><hr width = "300">
    </div>

    <div id = "wrap">
        <button class = "start"> START </button>
    </div>

    <div id = "agenda">
        <p>...</p>
    </div>

    <div id = "agenda2">
        <p>Tasks</p>

            <div class = "dropdown"><hr width = "300">
                <button onclick = "myFunction()" class = "dropbtn"> DropButton </button>
                 <div id = "myDropdown" class = "dropdown-content">
                    <a href = "#"><div>first</div></a>
                    <a href = "#"><div>second</div></a>
                    <a href = "#"><div>third</div></a>
                    <a href = "#"><div>fourth</div></a>
                </div>
            </div>
        
    </div>


    
</body>
</html>