<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" href = "/static/style.css">

    <style>

    #wrap{
    background-color: teal;
    padding: 10px;
    margin-left: 250px;
    margin-right: 250px;
    }

    #main{
        display: inline;
        text-align: center;
    }

    hr {
        color: teal;
    }

    #agenda{
        text-align: center;
    }


    </style>

</head>
<body>

    <div id = "main">
        <p><b>Pomodoro and Planning</b> <button>Button</button> </p><hr width = "300">
    </div>

    <div id = "wrap">
        <button class = "start"> START </button>
    </div>

    <div id = "agenda">
        <p>...</p>
    </div>


    
</body>
</html>